@model IEnumerable<InventarioModel>
@{
    ViewData["Title"] = "Listado de Productos";
}

<head>
    <title>Lista de Productos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url('/imagenes/placeH.png') no-repeat center center fixed;
            background-size: cover;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
        .buttons button {
            margin-left: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #8B4513;
            color: white;
            cursor: pointer;
        }
        .buttons button:hover {
            background-color: #A0522D;
        }
    </style>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Código de Barras</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Inventario in Model)
                {
                    <tr>
                        <td>
                        <a class="btn btn-primary" asp-controller="Inventario" asp-action="InventarioEdit" asp-route-Id="@Inventario.codBarras">Editar</a>
                        <a class="btn btn-danger" asp-controller="Inventario" asp-action="InventarioDeleted" asp-route-Id="@Inventario.codBarras">Borrar</a>
                        </td>
                        <td>@Inventario.codBarras</td>
                        <td>@Inventario.nombreProducto</td>
                        <td>@Inventario.cantProducto</td>
                        <td>@Inventario.costoProducto</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="buttons">
            <a asp-action="InventarioAdd" asp-controller="Inventario" class="btn btn-primary mb-3"> Agregar Producto</a>
        </div>
    </div>
</body>
</html>
