@model List<ProveedorModel>

@{
    ViewData["Title"] = "Lista de la proveedores";
    int numero = 0;
}

<head>
    <link rel="stylesheet" href="~/css/Proveedores-style.css" />
</head>

<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">Proveedores</p>
</div>

<div class="buttons">
<a class="btn btn-outline-primary" asp-action="ProveedorAdd" asp-asp-controller="Proveedor">Agregar Proveedor</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        {
            numero++;
        }
            <tr>
                <th scope="row">@numero
                </th>
                <td>@p.nombreProveedor</td>
                <td>@p.codProveedor</td>
                <td>
                    <div class="buttons">
                    <a class="btn btn-outline-info" asp-action="ProveedorEdit" asp-controller="Proveedor" asp-route-codProveedor="@p.codProveedor">Editar</a>
                    
                    <a class="btn btn-outline-danger" asp-action="ProveedorDeleted" asp-controller="Proveedor" asp-route-codProveedor="@p.codProveedor">Borrar</a>

                    <a class="btn btn-outline-danger" asp-action="ProductPerPorveedor" asp-controller="Proveedor" asp-route-codProveedor="@p.codProveedor">Lista</a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>