@model IEnumerable<ClientesModel>


@{
    ViewData["Title"] = "Listado de Clientes";
}

<head>
    <link rel="stylesheet" href="~/css/Clientes-style.css" />
</head>

<div class="text-center"></div>
<div class="col text-right">
    <p class="label-gris" style="font-size:160%;">Clientes</p>
</div>
<h1 class = "display-2"></h1>
<div class="buttons">
<a asp-action="ClientesAdd" asp-controller="Clientes" class="btn btn-primary mb-3"> Agregar Cliente</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Fecha de Registro</th>
            <th>Telefono</th>
            <th>Puntos</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Cli in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-controller="Clientes" asp-action="ClientesEdit"  asp-route-Id="@Cli.idClientes" >Editar</a>
                    <a class="btn btn-danger" asp-controller="Clientes" asp-action="ClientesDeleted"  asp-route-Id="@Cli.idClientes">Borrar</a>
                </td>
                <td>
                    @Cli.nombreClientes
                </td>
                <td>
                    @Cli.fechaRegistrio
                </td>
                <td>
                    @Cli.telNumClientes
                </td>
                <td>
                    @Cli.Puntos
                </td>
            </tr>
        }
    </tbody>
</table>
